<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:if="${param.error}" style="color: red;" th:text="${param.error} ?: 'Error de login'">Error de login</p>
	<form method="POST" action="#" th:action="@{/login}">
		<input type="text" id="username" name="username"
			placeholder="Username" required autofocus> <input
			type="password" name="password" id="password" placeholder="Password"
			required> <input type="submit" name="enviar" value="Enviar" />
	</form>
</body>
</html>